/* CSS Document */
.footer 
{
	text-align:center
}
.holeHeader
{
	text-align:center
}

#first2Tee {
	
	}
#second2Tee {
	display:none
	}
#third2Tee {
	display:none
	}
#fourth2Tee {
	display:none
	}
#fifth2Tee {
	display:none
	}

